.main_picture {
  background: linear-gradient(180deg, #6c01f6 0%, #111 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}
.main_picture_content_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1620px;
  height: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 12%;
  overflow: hidden;
}
.main_flag {
  width: 32px;
  height: 32px;
  position: relative;
  top: -17px;
  left: -10px;
}
.moving_block {
  position: absolute;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-align: center;
  color: #ff9c00;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 10px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.place1 {
  /* position: absolute; */
  /* top: 20px;
  left: 20px; */
  width: 258px;
  max-height: 50px;
}
.place2 {
  /* top: 20px;
  right: 20px; */
  width: 205px;
  max-height: 50px;
}
.place3 {
  width: 242px;
}
.place7 {
  width: 272px;
  height: 50px;
}
.place4 {
  width: 284px;
}
.place5 {
  width: 303px;
}
.wrap_line {
  position: relative;
  align-self: flex-end;
  width: 100vw;
  height: 68px;
  overflow: hidden;
  bottom: 0;
  flex: 1;
}
.running-line {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 18px 0px;
  overflow: hidden;
}
.running-line_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow: hidden;
}
.running-line_text {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  white-space: nowrap;
}
.running-line_circle {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: #ff8902;
}
.righttoleft {
  animation: righttoleft 25s infinite linear;
  overflow: hidden;
}
@keyframes righttoleft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
